.hero {
  height: calc(100vh - 60px);
  width: 100vw;
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 8fr 11fr;
  align-items: center;
  position: relative;
  /* background: url("/img/hero_main.svg") no-repeat right; */
  /* background-size: 60vw; */
  letter-spacing: 0.04em;
  padding: 0;
}

.bloghome__intro {
  padding: 1em;
  padding-left: 4em;
  position: relative;
  z-index: 10;
}

.bloghome__intro .hero_text {
  font-size: calc(1.8em + 1.2vw);
  color: #363636;
  /* font-weight: 600; */
}

.intro__name {
  color: var(--ifm-color-primary);
}

.bloghome__intro > p {
  margin: 26px 0 24px;
  color: #363636;
  font-size: 1.125rem;
  text-align: justify;
  letter-spacing: -0.04em;
  line-height: 32px;
}

.bloghome__intro > p:nth-child(3) {
  align-self: start;
  margin-top: 0;
}

html[data-theme='dark'] .bloghome__intro > p {
  color: #dfdfdf;
}

.bloghome__image {
  overflow: hidden;
  width: 50%;
  z-index: 5;
  align-items: center;
  justify-items: center;
}

.bloghome__image svg {
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
