.hero {
  height: calc(100vh - 60px);
  width: 100vw;
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 8fr 11fr;
  align-items: center;
  position: relative;
  /* background: url("/img/hero_main.svg") no-repeat right; */
  /* background-size: 60vw; */
  letter-spacing: 0.04em;
  padding: 0;
}

.bloghome__intro {
  padding: 1em;
  padding-left: 4em;
  position: relative;
  z-index: 10;
}

.bloghome__intro .hero_text {
  font-size: calc(1.8em + 1.2vw);
  color: #363636;
  /* font-weight: 600; */
}

.intro__name {
  color: var(--ifm-color-primary);
}

.bloghome__intro > p {
  margin: 26px 0 24px;
  color: #363636;
  font-size: 1.125rem;
  text-align: justify;
  letter-spacing: -0.04em;
  line-height: 32px;
}

.bloghome__intro > p:nth-child(3) {
  align-self: start;
  margin-top: 0;
}

html[data-theme='dark'] .bloghome__intro > p {
  color: #dfdfdf;
}

.bloghome__image {
  overflow: hidden;
  width: 50%;
  z-index: 5;
  align-items: center;
  justify-items: center;
}

.bloghome__image svg {
  width: 100%;
  height: auto;
}

.social__links {
  width: 100%;
  display: flex;
  max-width: 150px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
  z-index: 100;
  position: relative;
}

.social__links a {
  display: inline-flex;
  border: none;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.social__links a:hover {
  background-color: rgb(0 120 231 / 10%);
}

.social__links > *,
.social__links svg,
.social__links svg path {
  width: 24px;
  height: 24px;
  color: var(--ifm-color-primary);
  fill: var(--ifm-color-primary);
}

.social__links .dropdown {
  display: flex;
  align-items: center;
}

.social__links .dropdown span {
  margin-left: 6px;
  /* font-weight: 700; */
  font-size: 0.9em;
}

.social__links .dropdown__menu {
  max-width: initial;
  right: 0;
  top: 120%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
